In [164]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [165]:
final = pd.read_csv("./data_for_poisson.csv", index_col=False)

In [166]:
def get_model_result(X, y):
    exog = sm.add_constant(X)
    poission_model = sm.GLM(y, exog, family=sm.families.Poisson(link=sm.families.links.log()))
    #cov_type="HC2"
    result = poission_model.fit(cov_type="HC1")
    return result
def get_prr(result):
    body = pd.read_html(result.summary2().as_html())[1]
    names = body[0].drop(0)
    names = names.reset_index(drop=True)
    body = body[1].drop(0)
    print(names)
    body = body.astype(float)
    odds = np.exp(body)
    odds = odds.reset_index(drop=True)
    return odds

In [167]:
#SINGLE

In [168]:
y = final.StageGroup
X = final[['Basic&Primary','Secondary', 'Secondary_vocational', 'University&higher']].copy()
X = X.drop("University&higher", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.521442  0.614168
Basic&Primary         1.110810  1.371169
Secondary             0.959821  1.175558
Secondary_vocational  0.890292  1.138596

In [169]:
print(result.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:             StageGroup   No. Observations:                 1874
Model:                            GLM   Df Residuals:                     1870
Model Family:                 Poisson   Df Model:                            3
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -1701.6
Date:                Thu, 02 Mar 2023   Deviance:                       1129.2
Time:                        08:37:26   Pearson chi2:                     737.
No. Iterations:                     5   Pseudo R-squ. (CS):           0.003758
Covariance Type:                  HC1
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   -0.5693      0.042    -13.635      0.000      -0.651      -0.487
Basic&Primary            0.2104      0.054      3.916      0.000       0.105       0.316
Secondary                0.0604      0.052      1.167      0.243      -0.041       0.162
Secondary_vocational     0.0068      0.063      0.108      0.914      -0.116       0.130
========================================================================================

In [170]:
odd = get_prr(result) 
odd

0                   const
1           Basic&Primary
2               Secondary
3    Secondary_vocational
Name: 0, dtype: object

0    0.565921
1    1.234172
2    1.062261
3    1.006823
Name: 1, dtype: float64

In [171]:
#result.summary2()

In [172]:
X = final[['married','divorced', 'widow', 'single']].copy()
X = X.drop("married", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                 0         1
const     0.517722  0.595030
divorced  1.019434  1.234613
widow     1.159971  1.404534
single    0.909901  1.149227

In [173]:
odd = get_prr(result) 
odd

0       const
1    divorced
2       widow
3      single
Name: 0, dtype: object

0    0.555048
1    1.121873
2    1.276472
3    1.022551
Name: 1, dtype: float64

In [174]:
X = final[['South','North-East', 'Central', 'West', 'North']].copy()
X = X.drop("North", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                   0         1
const       0.582698  0.652286
South       0.830730  1.013196
North-East  0.925998  1.162462
Central     0.849996  1.090137
West        0.918516  1.146470

In [175]:
odd = get_prr(result) 
odd

0         const
1         South
2    North-East
3       Central
4          West
Name: 0, dtype: object

0    0.616498
1    0.917411
2    1.037486
3    0.962617
4    1.026136
Name: 1, dtype: float64

In [176]:
X = final[['<= 29','30-44', '45-59', '60-74', '>= 75']].copy()
X = X.drop("30-44", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

#>= 75  1.884512  2.425974

              0         1
const  0.353666  0.443538
<= 29  0.497755  1.139220
45-59  1.347455  1.741586
60-74  1.647971  2.118812
>= 75  1.884512  2.425974

In [177]:
odd = get_prr(result) 
odd

0    const
1    <= 29
2    45-59
3    60-74
4    >= 75
Name: 0, dtype: object

0    0.396056
1    0.752993
2    1.531887
3    1.868620
4    2.138276
Name: 1, dtype: float64

In [178]:
X = final[['SCC','AC', 'CodeOther']].copy()
X = X.drop("SCC", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                  0         1
const      0.576067  0.625479
AC         0.822497  1.054738
CodeOther  1.123869  1.382592

In [179]:
odd = get_prr(result) 
odd

0        const
1           AC
2    CodeOther
Name: 0, dtype: object

0    0.600255
1    0.931369
2    1.246575
Name: 1, dtype: float64

In [180]:
X = final[['Estonian','Other']].copy()
X = X.drop("Estonian", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

              0         1
const  0.573394  0.626868
Other  0.961250  1.122045

In [181]:
odd = get_prr(result) 
odd

0    const
1    Other
Name: 0, dtype: object

0    0.599536
1    1.038524
Name: 1, dtype: float64

In [182]:
#MULTI

In [183]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("EducationUnknown", axis=1)
X = X.drop("University&higher", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.000000       inf
Basic&Primary         1.024267  1.352437
Secondary             0.964661  1.197395
Secondary_vocational  0.902727  1.157287
MaritalStatusUnknown  0.000000       inf
divorced              0.000000       inf
married               0.000000       inf
single                0.000000       inf
widow                 0.000000       inf
30-44                 0.000000       inf
45-59                 0.000000       inf
60-74                 0.000000       inf
<= 29                 0.000000       inf
>= 75                 0.000000       inf
Estonian              0.000000       inf
NationalityUnknown    0.000000       inf
Other                 0.000000       inf
Central               0.000000       inf
North                 0.000000       inf
North-East            0.000000       inf
South                 0.000000       inf
West                  0.000000       inf
AC                    0.000000       inf
CodeOther             0.000000       inf
SCC                   0.000000       inf

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [184]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2                Secondary
3     Secondary_vocational
4     MaritalStatusUnknown
5                 divorced
6                  married
7                   single
8                    widow
9                    30-44
10                   45-59
11                   60-74
12                   <= 29
13                   >= 75
14                Estonian
15      NationalityUnknown
16                   Other
17                 Central
18                   North
19              North-East
20                   South
21                    West
22                      AC
23               CodeOther
24                     SCC
Name: 0, dtype: object
0     0.775071
1     1.176919
2     1.074763
3     1.022142
4     0.987479
5     0.941011
6     0.902217
7     1.047074
8     0.882938
9     0.694266
10    1.090024
11    1.336427
12    0.504090
13    1.520136
14    0.836608
15    1.078208
16    0.859160
17    0.919707
18    0.972486
19    1.007931
20    0.896910
21    0.958582
22    0.819960
23    1.055485
24    0.895565
Name: 1, dtype: float64

In [185]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("30-44", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.000000       inf
Basic&Primary         0.000000       inf
EducationUnknown      0.000000       inf
Secondary             0.000000       inf
Secondary_vocational  0.000000       inf
University&higher     0.000000       inf
MaritalStatusUnknown  0.000000       inf
divorced              0.000000       inf
married               0.000000       inf
single                0.000000       inf
widow                 0.000000       inf
45-59                 1.132615  2.144351
60-74                 1.350289  2.654156
<= 29                 0.246317  2.140231
>= 75                 1.024790  4.474751
Estonian              0.000000       inf
NationalityUnknown    0.000000       inf
Other                 0.000000       inf
Central               0.000000       inf
North                 0.000000       inf
North-East            0.000000       inf
South                 0.000000       inf
West                  0.000000       inf
AC                    0.000000       inf
CodeOther             0.000000       inf
SCC                   0.000000       inf

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [186]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2         EducationUnknown
3                Secondary
4     Secondary_vocational
5        University&higher
6     MaritalStatusUnknown
7                 divorced
8                  married
9                   single
10                   widow
11                   45-59
12                   60-74
13                   <= 29
14                   >= 75
15                Estonian
16      NationalityUnknown
17                   Other
18                 Central
19                   North
20              North-East
21                   South
22                    West
23                      AC
24               CodeOther
25                     SCC
Name: 0, dtype: object
0     0.684067
1     1.021835
2     1.029836
3     0.928672
4     0.883557
5     0.792233
6     0.951705
7     0.922286
8     0.885148
9     1.023471
10    0.860364
11    1.558463
12    1.893070
13    0.726076
14    2.141486
15    0.842737
16    0.934634
17    0.868489
18    0.895386
19    0.942330
20    0.986887
21    0.876253
22    0.937536
23    0.790808
24    1.011465
25    0.855217
Name: 1, dtype: float64

In [187]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("Estonian", axis=1)
X = X.drop("NationalityUnknown", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.000000       inf
Basic&Primary         0.000000       inf
EducationUnknown      0.000000       inf
Secondary             0.000000       inf
Secondary_vocational  0.000000       inf
University&higher     0.000000       inf
MaritalStatusUnknown  0.000000       inf
divorced              0.000000       inf
married               0.000000       inf
single                0.000000       inf
widow                 0.000000       inf
30-44                 0.000000       inf
45-59                 0.000000       inf
60-74                 0.000000       inf
<= 29                 0.000000       inf
>= 75                 0.000000       inf
Other                 0.941098  1.125895
Central               0.000000       inf
North                 0.000000       inf
North-East            0.000000       inf
South                 0.000000       inf
West                  0.000000       inf
AC                    0.000000  0.000000
CodeOther             0.000000  0.000000
SCC                   0.000000  0.000000

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [188]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2         EducationUnknown
3                Secondary
4     Secondary_vocational
5        University&higher
6     MaritalStatusUnknown
7                 divorced
8                  married
9                   single
10                   widow
11                   30-44
12                   45-59
13                   60-74
14                   <= 29
15                   >= 75
16                   Other
17                 Central
18                   North
19              North-East
20                   South
21                    West
22                      AC
23               CodeOther
24                     SCC
Name: 0, dtype: object
0          inf
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
15    0.000000
16    1.029322
17    0.000000
18    0.000000
19    0.000000
20    0.000000
21    0.000000
22    0.000000
23    0.000000
24    0.000000
Name: 1, dtype: float64

/opt/conda/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [189]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("married", axis=1)
X = X.drop("MaritalStatusUnknown", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.000000       inf
Basic&Primary         0.000000       inf
EducationUnknown      0.000000       inf
Secondary             0.000000       inf
Secondary_vocational  0.000000       inf
University&higher     0.000000       inf
divorced              0.937371  1.139998
single                0.993456  1.320462
widow                 0.842288  1.106190
30-44                 0.000000       inf
45-59                 0.000000       inf
60-74                 0.000000       inf
<= 29                 0.000000       inf
>= 75                 0.000000       inf
Estonian              0.000000       inf
NationalityUnknown    0.000000       inf
Other                 0.000000       inf
Central               0.000000       inf
North                 0.000000       inf
North-East            0.000000       inf
South                 0.000000       inf
West                  0.000000       inf
AC                    0.000000  0.000000
CodeOther             0.000000  0.000000
SCC                   0.000000  0.000000

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [190]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2         EducationUnknown
3                Secondary
4     Secondary_vocational
5        University&higher
6                 divorced
7                   single
8                    widow
9                    30-44
10                   45-59
11                   60-74
12                   <= 29
13                   >= 75
14                Estonian
15      NationalityUnknown
16                   Other
17                 Central
18                   North
19              North-East
20                   South
21                    West
22                      AC
23               CodeOther
24                     SCC
Name: 0, dtype: object
0          inf
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     1.033757
7     1.145338
8     0.965219
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    0.000000
19    0.000000
20    0.000000
21    0.000000
22    0.000000
23    0.000000
24    0.000000
Name: 1, dtype: float64

/opt/conda/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [191]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("SCC", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                      NaN       NaN
Basic&Primary              NaN       NaN
EducationUnknown           NaN       NaN
Secondary                  NaN       NaN
Secondary_vocational       NaN       NaN
University&higher          NaN       NaN
MaritalStatusUnknown       NaN       NaN
divorced                   NaN       NaN
married                    NaN       NaN
single                     NaN       NaN
widow                      NaN       NaN
30-44                      NaN       NaN
45-59                      NaN       NaN
60-74                      NaN       NaN
<= 29                      NaN       NaN
>= 75                      NaN       NaN
Estonian              0.000000       inf
NationalityUnknown    0.000000       inf
Other                      NaN       NaN
Central               0.000000       inf
North                 0.000000       inf
North-East            0.000000       inf
South                 0.000000       inf
West                       NaN       NaN
AC                    0.824332  1.036919
CodeOther             1.070797  1.302591

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [192]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2         EducationUnknown
3                Secondary
4     Secondary_vocational
5        University&higher
6     MaritalStatusUnknown
7                 divorced
8                  married
9                   single
10                   widow
11                   30-44
12                   45-59
13                   60-74
14                   <= 29
15                   >= 75
16                Estonian
17      NationalityUnknown
18                   Other
19                 Central
20                   North
21              North-East
22                   South
23                    West
24                      AC
25               CodeOther
Name: 0, dtype: object
0     0.759192
1     1.043207
2     1.050641
3     0.948665
4     0.902398
5     0.809046
6     0.971028
7     0.941670
8     0.903752
9     1.045087
10    0.879062
11    0.697746
12    1.087520
13    1.321014
14    0.506972
15    1.493915
16    0.873978
17    0.965026
18    0.900144
19    0.913931
20    0.962232
21    1.007125
22    0.894849
23    0.957911
24    0.924502
25    1.181045
Name: 1, dtype: float64

In [193]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("North", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.000000       inf
Basic&Primary         0.000000       inf
EducationUnknown      0.000000       inf
Secondary             0.000000       inf
Secondary_vocational  0.000000       inf
University&higher     0.000000       inf
MaritalStatusUnknown  0.000000       inf
divorced              0.000000       inf
married               0.000000       inf
single                0.000000       inf
widow                 0.000000       inf
30-44                 0.000000       inf
45-59                 0.000000       inf
60-74                 0.000000       inf
<= 29                 0.000000       inf
>= 75                 0.000000       inf
Estonian              0.000000       inf
NationalityUnknown    0.000000       inf
Other                 0.000000       inf
Central               0.843398  1.070265
North-East            0.931355  1.176630
South                 0.842651  1.027050
West                  0.889979  1.113414
AC                         NaN       NaN
CodeOther             0.000000       inf
SCC                   0.000000       inf

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [194]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2         EducationUnknown
3                Secondary
4     Secondary_vocational
5        University&higher
6     MaritalStatusUnknown
7                 divorced
8                  married
9                   single
10                   widow
11                   30-44
12                   45-59
13                   60-74
14                   <= 29
15                   >= 75
16                Estonian
17      NationalityUnknown
18                   Other
19                 Central
20              North-East
21                   South
22                    West
23                      AC
24               CodeOther
25                     SCC
Name: 0, dtype: object
0     0.787651
1     1.051061
2     1.058973
3     0.955520
4     0.909009
5     0.814729
6     0.978436
7     0.948759
8     0.910556
9     1.052639
10    0.885148
11    0.702999
12    1.095488
13    1.330826
14    0.510533
15    1.505011
16    0.884971
17    0.976188
18    0.911649
19    0.950089
20    1.046865
21    0.930252
22    0.995411
23    0.829527
24    1.060139
25    0.895655
Name: 1, dtype: float64