In [85]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [86]:
final = pd.read_csv("./data_for_poisson.csv", index_col=False)

In [87]:
def get_model_result(X, y):
    exog = sm.add_constant(X)
    poission_model = sm.GLM(y, exog, family=sm.families.Poisson(link=sm.families.links.log()))
    result = poission_model.fit(cov_type="hc1")
    return result
def get_prr(result):
    body = pd.read_html(result.summary2().as_html())[1]
    names = body[0].drop(0)
    names = names.reset_index(drop=True)
    body = body[1].drop(0)
    print(names)
    body = body.astype(float)
    odds = np.exp(body)
    odds = odds.reset_index(drop=True)
    return odds

In [88]:
#SINGLE

In [89]:
y = final.StageGroup
X = final[['Basic&Primary','Secondary', 'Secondary_vocational', 'University&higher']].copy()
X = X.drop("University&higher", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.423496  0.540810
Basic&Primary         1.244224  1.651638
Secondary             1.077502  1.419210
Secondary_vocational  0.986985  1.350242

In [90]:
print(result.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:             StageGroup   No. Observations:                 1607
Model:                            GLM   Df Residuals:                     1603
Model Family:                 Poisson   Df Model:                            3
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -1437.5
Date:                Mon, 23 Jan 2023   Deviance:                       996.95
Time:                        17:17:18   Pearson chi2:                     668.
No. Iterations:                     5   Pseudo R-squ. (CS):           0.007512
Covariance Type:                  hc1
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   -0.7369      0.062    -11.814      0.000      -0.859      -0.615
Basic&Primary            0.3601      0.072      4.984      0.000       0.219       0.502
Secondary                0.2124      0.070      3.022      0.003       0.075       0.350
Secondary_vocational     0.1436      0.080      1.796      0.072      -0.013       0.300
========================================================================================

In [91]:
odd = get_prr(result) 
odd

0                   const
1           Basic&Primary
2               Secondary
3    Secondary_vocational
Name: 0, dtype: object

0    0.478595
1    1.433473
2    1.236642
3    1.154422
Name: 1, dtype: float64

In [92]:
#result.summary2()

In [93]:
X = final[['married','divorced', 'widow', 'single']].copy()
X = X.drop("married", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                 0         1
const     0.485767  0.572019
divorced  1.034395  1.285631
widow     1.168459  1.458327
single    0.891349  1.163915

In [94]:
odd = get_prr(result) 
odd

0       const
1    divorced
2       widow
3      single
Name: 0, dtype: object

0    0.527134
1    1.153153
2    1.305388
3    1.018570
Name: 1, dtype: float64

In [95]:
X = final[['South','North-East', 'Central', 'West', 'North']].copy()
X = X.drop("North", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                   0         1
const       0.556268  0.632913
South       0.820532  1.027187
North-East  0.905090  1.173084
Central     0.820328  1.089111
West        0.930987  1.189521

In [96]:
odd = get_prr(result) 
odd

0         const
1         South
2    North-East
3       Central
4          West
Name: 0, dtype: object

0    0.593333
1    0.918053
2    1.030455
3    0.945256
4    1.052323
Name: 1, dtype: float64

In [97]:
X = final[['<= 29','30-44', '45-59', '60-74', '>= 75']].copy()
X = X.drop("30-44", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

              0         1
const  0.345889  0.439628
<= 29  0.402746  1.060945
45-59  1.307040  1.722069
60-74  1.624974  2.129150
>= 75  1.879769  2.468490

In [98]:
odd = get_prr(result) 
odd

0    const
1    <= 29
2    45-59
3    60-74
4    >= 75
Name: 0, dtype: object

0    0.389964
1    0.653704
2    1.500202
3    1.860044
4    2.154158
Name: 1, dtype: float64

In [99]:
X = final[['SCC','AC']].copy()
X = X.drop("SCC", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

              0         1
const  0.561468  0.613668
AC     0.860702  1.091868

In [100]:
odd = get_prr(result) 
odd

0    const
1       AC
Name: 0, dtype: object

0    0.586959
1    0.969379
Name: 1, dtype: float64

In [101]:
X = final[['Estonian','Other']].copy()
X = X.drop("Estonian", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

              0         1
const  0.546573  0.605050
Other  0.963517  1.146175

In [102]:
odd = get_prr(result) 
odd

0    const
1    Other
Name: 0, dtype: object

0    0.575049
1    1.050851
Name: 1, dtype: float64

In [69]:
#MULTI

In [115]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("University&higher", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.000000       inf
Basic&Primary         1.116391  1.486417
Secondary             1.028781  1.336769
Secondary_vocational  0.937969  1.268335
divorced                   NaN       NaN
married               0.000000       inf
single                0.000000       inf
widow                 0.000000       inf
30-44                      NaN       NaN
45-59                 0.000000       inf
60-74                      NaN       NaN
<= 29                 0.000000       inf
>= 75                 0.000000       inf
Estonian              0.000000       inf
Other                      NaN       NaN
Central               0.000000       inf
North                 0.000000       inf
North-East            0.000000       inf
South                 0.000000       inf
West                  0.000000       inf
AC                         NaN       NaN
SCC                        NaN       NaN

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [116]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2                Secondary
3     Secondary_vocational
4                 divorced
5                  married
6                   single
7                    widow
8                    30-44
9                    45-59
10                   60-74
11                   <= 29
12                   >= 75
13                Estonian
14                   Other
15                 Central
16                   North
17              North-East
18                   South
19                    West
20                      AC
21                     SCC
Name: 0, dtype: object
0     0.733667
1     1.288141
2     1.172690
3     1.090679
4     0.935008
5     0.895297
6     1.023574
7     0.856244
8     0.706664
9     1.088499
10    1.356354
11    0.453346
12    1.551155
13    0.840297
14    0.873105
15    0.900865
16    0.962520
17    0.979807
18    0.882320
19    0.978729
20    0.839121
21    0.874328
Name: 1, dtype: float64

In [117]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("30-44", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.000000       inf
Basic&Primary         0.000000       inf
Secondary             0.000000       inf
Secondary_vocational  0.000000       inf
University&higher     0.000000       inf
divorced              0.000000       inf
married               0.000000       inf
single                0.000000       inf
widow                 0.000000       inf
45-59                 1.253613  1.890820
60-74                 1.640012  2.238397
<= 29                 0.384475  1.067218
>= 75                 1.871264  2.571463
Estonian              0.000000       inf
Other                 0.000000       inf
Central               0.000000       inf
North                 0.000000       inf
North-East            0.000000       inf
South                 0.000000       inf
West                  0.000000       inf
AC                    0.000000  0.000000
SCC                   0.000000  0.000000

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [118]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2                Secondary
3     Secondary_vocational
4        University&higher
5                 divorced
6                  married
7                   single
8                    widow
9                    45-59
10                   60-74
11                   <= 29
12                   >= 75
13                Estonian
14                   Other
15                 Central
16                   North
17              North-East
18                   South
19                    West
20                      AC
21                     SCC
Name: 0, dtype: object
0          inf
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     1.539565
10    1.915924
11    0.640568
12    2.193503
13    0.000000
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    0.000000
19    0.000000
20    0.000000
21    0.000000
Name: 1, dtype: float64

/opt/conda/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [119]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("Estonian", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.000000       inf
Basic&Primary         0.000000       inf
Secondary             0.000000       inf
Secondary_vocational  0.000000       inf
University&higher     0.000000       inf
divorced              0.000000       inf
married               0.000000       inf
single                0.000000       inf
widow                 0.000000       inf
30-44                 0.000000       inf
45-59                 0.000000       inf
60-74                 0.000000       inf
<= 29                 0.000000       inf
>= 75                 0.000000       inf
Other                 0.937311  1.151105
Central                    NaN       NaN
North                      NaN       NaN
North-East                 NaN       NaN
South                      NaN       NaN
West                       NaN       NaN
AC                         NaN       NaN
SCC                        NaN       NaN

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [120]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2                Secondary
3     Secondary_vocational
4        University&higher
5                 divorced
6                  married
7                   single
8                    widow
9                    30-44
10                   45-59
11                   60-74
12                   <= 29
13                   >= 75
14                   Other
15                 Central
16                   North
17              North-East
18                   South
19                    West
20                      AC
21                     SCC
Name: 0, dtype: object
0     0.742524
1     1.055379
2     0.960886
3     0.893687
4     0.819386
5     0.937630
6     0.896999
7     1.027573
8     0.859246
9     0.709000
10    1.091224
11    1.359613
12    0.453890
13    1.555194
14    1.038731
15    0.902127
16    0.964447
17    0.983045
18    0.884794
19    0.981081
20    0.844256
21    0.879502
Name: 1, dtype: float64

In [121]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("married", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.000000       inf
Basic&Primary         0.000000       inf
Secondary             0.000000       inf
Secondary_vocational  0.000000       inf
University&higher     0.000000       inf
divorced              0.922762  1.182195
single                0.957567  1.366189
widow                 0.746197  1.225736
30-44                 0.000000       inf
45-59                 0.000000       inf
60-74                 0.000000       inf
<= 29                 0.000000       inf
>= 75                 0.000000       inf
Estonian              0.000000       inf
Other                 0.000000       inf
Central               0.000000       inf
North                 0.000000       inf
North-East            0.000000       inf
South                 0.000000       inf
West                  0.000000       inf
AC                    0.000000       inf
SCC                   0.000000       inf

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [122]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2                Secondary
3     Secondary_vocational
4        University&higher
5                 divorced
6                   single
7                    widow
8                    30-44
9                    45-59
10                   60-74
11                   <= 29
12                   >= 75
13                Estonian
14                   Other
15                 Central
16                   North
17              North-East
18                   South
19                    West
20                      AC
21                     SCC
Name: 0, dtype: object
0     0.759648
1     1.060669
2     0.966475
3     0.898975
4     0.824317
5     1.044460
6     1.143736
7     0.956380
8     0.711486
9     1.095926
10    1.367385
11    0.456028
12    1.562364
13    0.855217
14    0.888252
15    0.906468
16    0.968700
17    0.986196
18    0.890297
19    0.985408
20    0.853764
21    0.889763
Name: 1, dtype: float64

In [123]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("SCC", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.000000       inf
Basic&Primary         0.000000       inf
Secondary             0.000000       inf
Secondary_vocational  0.000000       inf
University&higher     0.000000       inf
divorced              0.000000       inf
married               0.000000       inf
single                0.000000       inf
widow                 0.000000       inf
30-44                 0.000000       inf
45-59                 0.000000       inf
60-74                 0.000000       inf
<= 29                 0.000000       inf
>= 75                 0.000000       inf
Estonian              0.000000       inf
Other                 0.000000       inf
Central                    NaN       NaN
North                      NaN       NaN
North-East                 NaN       NaN
South                      NaN       NaN
West                       NaN       NaN
AC                    0.859308  1.073051

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [124]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2                Secondary
3     Secondary_vocational
4        University&higher
5                 divorced
6                  married
7                   single
8                    widow
9                    30-44
10                   45-59
11                   60-74
12                   <= 29
13                   >= 75
14                Estonian
15                   Other
16                 Central
17                   North
18              North-East
19                   South
20                    West
21                      AC
Name: 0, dtype: object
0          inf
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    0.000000
19    0.000000
20    0.000000
21    0.960213
Name: 1, dtype: float64

/opt/conda/lib/python3.10/site-packages/pandas/core/arraylike.py:405: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [125]:
X = final
X = X.drop("StageGroup", axis=1)
X = X.drop("North", axis=1)
result = get_model_result(X, y)
log_odds = result.conf_int(alpha=0.05)
odds = np.exp(log_odds)
print(odds)

                             0         1
const                 0.000000       inf
Basic&Primary         0.000000       inf
Secondary             0.000000       inf
Secondary_vocational  0.000000       inf
University&higher     0.000000       inf
divorced              0.000000       inf
married               0.000000       inf
single                0.000000       inf
widow                 0.000000       inf
30-44                 0.000000       inf
45-59                 0.000000       inf
60-74                 0.000000       inf
<= 29                 0.000000       inf
>= 75                 0.000000       inf
Estonian              0.000000       inf
Other                 0.000000       inf
Central               0.814784  1.074427
North-East            0.888979  1.167001
South                 0.817249  1.028853
West                  0.900037  1.149492
AC                         NaN       NaN
SCC                        NaN       NaN

/opt/conda/lib/python3.10/site-packages/pandas/core/internals/blocks.py:352: RuntimeWarning: overflow encountered in exp
  result = func(self.values, **kwargs)

In [126]:
odd = get_prr(result)
print(odd)

0                    const
1            Basic&Primary
2                Secondary
3     Secondary_vocational
4        University&higher
5                 divorced
6                  married
7                   single
8                    widow
9                    30-44
10                   45-59
11                   60-74
12                   <= 29
13                   >= 75
14                Estonian
15                   Other
16                 Central
17              North-East
18                   South
19                    West
20                      AC
21                     SCC
Name: 0, dtype: object
0     0.779502
1     1.068120
2     0.972680
3     0.904656
4     0.829444
5     0.949234
6     0.908373
7     1.040290
8     0.869097
9     0.715481
10    1.102081
11    1.373140
12    0.458406
13    1.570352
14    0.866407
15    0.899784
16    0.935663
17    1.018570
18    0.916952
19    1.017145
20    0.864936
21    0.901225
Name: 1, dtype: float64