In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [2]:
data = pd.read_csv("./prepared_data.csv", index_col=False)

In [3]:
def get_pretty_pecent(a, b):
    return round(100 * float(a)/float(b), 2)
    #return "{:.2%}".format(a/b)
def get_chi(a, b):
    ctab = pd.crosstab(a, b)
    #print(ctab)
    chi2, p, dof, ex = chi2_contingency(ctab)
    return p

In [4]:
#drop unknown and empty
fullData = data.drop(data[data['StageGroup'].isnull()].index)
fullData = fullData.drop(fullData[fullData['AgeGroup'].isnull()].index)
fullData = fullData.drop(fullData[fullData['Period']=='2011-2014'].index)
len(fullData)

1208

In [5]:
fullData.head()

,Code,Year,Nationality,Marital Status,Education,Residence,Age,Stage,Micdo,CodeGroup,StageGroup,Period,AgeGroup
0,80733,2007,Estonian,divorced,Secondary,North,62,3.0,8073,SCC,1.0,2007-2010,60-74
2,89803,2008,Estonian,widow,Secondary,North,65,3.0,8980,Other,1.0,2007-2010,60-74
8,85603,2007,Estonian,widow,Basic&Primary,South,63,1.0,8560,Other,0.0,2007-2010,60-74
9,80733,2007,Estonian,married,University&higher,West,50,1.0,8073,SCC,0.0,2007-2010,45-59
11,80703,2008,Estonian,divorced,Secondary,Central,52,3.0,8070,SCC,1.0,2007-2010,45-59

In [6]:
fullData = fullData[[
    'Period',
    'AgeGroup',
    'StageGroup'
]]

In [7]:
fullData.head()

       Period AgeGroup  StageGroup
0   2007-2010    60-74         1.0
2   2007-2010    60-74         1.0
8   2007-2010    60-74         0.0
9   2007-2010    45-59         0.0
11  2007-2010    45-59         1.0

In [8]:
get_chi(
    fullData['Period'],
    fullData['StageGroup']
)

0.004728217873899362

In [9]:
ctab = pd.crosstab(fullData['Period'], fullData['StageGroup'])
print(ctab)

StageGroup  0.0  1.0
Period
2007-2010   305  384
2015-2018   187  332

In [10]:
get_chi(
    fullData[fullData['AgeGroup']=='<= 29']['Period'],
    fullData[fullData['AgeGroup']=='<= 29']['StageGroup']
)

1.0

In [11]:
ctab = pd.crosstab(fullData[fullData['AgeGroup']=='<= 29']['Period'], fullData['StageGroup'])
print(ctab)

StageGroup  0.0  1.0
Period
2007-2010    17    6
2015-2018    11    3

In [12]:
get_chi(
    fullData[fullData['AgeGroup']=='30-44']['Period'],
    fullData[fullData['AgeGroup']=='30-44']['StageGroup']
)

0.0754967945533354

In [13]:
ctab = pd.crosstab(fullData[fullData['AgeGroup']=='30-44']['Period'], fullData['StageGroup'])
print(ctab)

StageGroup  0.0  1.0
Period
2007-2010   111   59
2015-2018    72   60

In [14]:
get_chi(
    fullData[fullData['AgeGroup']=='45-59']['Period'],
    fullData['StageGroup']
)

0.004849227730950212

In [84]:
ctab = pd.crosstab(fullData[fullData['AgeGroup']=='45-59']['Period'], fullData['StageGroup'])
print(ctab)

StageGroup  0.0  1.0
Period
2007-2010   121  149
2015-2018    56  124

In [15]:
get_chi(
    fullData[fullData['AgeGroup']=='60-74']['Period'],
    fullData[fullData['AgeGroup']=='60-74']['StageGroup']
)

1.0

In [16]:
ctab = pd.crosstab(fullData[fullData['AgeGroup']=='60-74']['Period'], fullData['StageGroup'])
print(ctab)

StageGroup  0.0  1.0
Period
2007-2010    43  103
2015-2018    36   86

In [87]:
get_chi(
    fullData[fullData['AgeGroup']=='>= 75']['Period'],
    fullData['StageGroup']
)

1.0

In [88]:
ctab = pd.crosstab(fullData[fullData['AgeGroup']=='>= 75']['Period'], fullData['StageGroup'])
print(ctab)

StageGroup  0.0  1.0
Period
2007-2010    13   67
2015-2018    12   59

In [89]:
#https://stats.stackexchange.com/questions/110718/chi-squared-test-with-scipy-whats-the-difference-between-chi2-contingency-and
#https://towardsdatascience.com/chi-square-test-how-to-calculate-chi-square-using-formula-python-implementation-6da203f96569
#https://stats.stackexchange.com/questions/571729/p-value-of-chi-square-test-of-independence